:root {
  --color-primary-1: hsl(180, 66%, 49%);
  --color-primary-2: hsl(257, 27%, 26%);

  --color-secondary: hsl(0, 87%, 67%);

  --color-neutral-1: hsl(0, 0%, 75%);
  --color-neutral-2: hsl(257, 7%, 63%);
  --color-neutral-3: hsl(255, 11%, 22%);
  --color-neutral-4: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 80%; // 1rem = 10px;;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-neutral-1);
  font-size: 16px;
}
